#homeBtn {
	-fx-background-image: url('images/Home/Home_024.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#mountBtn {
	-fx-background-image: url('images/Mount/Mount_024.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#createDirBtn {
	-fx-background-image: url('images/Folder_Add/Folder_Add_024.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#createFileBtn {
	-fx-background-image: url('images/File_Add/File_Add_024.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#renameBtn {
	-fx-background-image: url('images/Rename_blue/Rename_blue_024.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#deleteBtn {
	-fx-background-image: url('images/Delete/Delete_024.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

/*#ToolBarButtons { */

/*	-fx-background-image: url('images/logo_resize.jpg'); */
/*	-fx-background-repeat: no-repeat; */
/*	-fx-background-position: 680px; */
/*} */
       