#HomeBtn {
	-fx-background-image: url('images/Home/Home_032.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#mountBtn {

	-fx-background-image: url('images/Mount/Mount_032.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#CreateDirBtn {

	-fx-background-image: url('images/Folder_Add/Folder_Add_032.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#CreateFileBtn {
	-fx-background-image: url('images/File_Add/File_Add_032.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#RenameBtn {

	-fx-background-image: url('images/Rename_blue/Rename_blue_032.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#DeleteBtn {

	-fx-background-image: url('images/Delete/Delete_032.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

/*#ToolBarButtons { */

/*	-fx-background-image: url('images/logo_resize.jpg'); */
/*	-fx-background-repeat: no-repeat; */
/*	-fx-background-position: 680px; */
/*} */
       